# ******************************************************************************
# General Definitions
# ******************************************************************************

*~
.*
!/.gitignore


# ******************************************************************************
# Builder Related Files
# ******************************************************************************

# ==============================================================================
# ExtUtils::MakeMaker, Module::Install
# ==============================================================================

/Makefile*
!/Makefile.PL
/blib
/inc
/pm_to_blib

# ==============================================================================
# Module::Build
# ==============================================================================

/_build
/Build


# ******************************************************************************
# Distribution Related Files
# ******************************************************************************

/MANIFEST*
!/MANIFEST.SKIP
/META.yml
/META.json
/MYMETA.json
/MYMETA.yml


# ******************************************************************************
# Test Related Files
# ******************************************************************************

# ==============================================================================
# Devel::Cover
# ==============================================================================

/cover_db
/coverage.*

# ==============================================================================
# Test::Kwalitee
# ==============================================================================

/Debian_CPANTS.txt


# ******************************************************************************
# Archives of This Distribution (make dist)
# ******************************************************************************

/*-*.tar.gz
